body,
html {
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.journal-entries {
  overflow-y: scroll;
  cursor: pointer;
}

.entry-image {
  width: 75px;
  height: 75px;
}